<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#binary">Binary</a></li>
        <li><a data-toggle="tab" href="#forex">Forex</a></li>
    </ul>

    <div class="tab-content">
        <div id="binary" class="tab-pane fade in active">
            <h3>Binary</h3>
            <p id="binaryText"></p>
        </div>
        <div id="forex" class="tab-pane fade">
            <h3>Forex</h3>
            <p id="forexText"></p>
        </div>
    </div>
</div>
