<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2 col-xs-2 col-lg-2 col-md-2" for="name">Name:</label>
        <div class="col-sm-2">
            <input type="name" class="form-control" id="name" placeholder="Enter name" required="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 col-xs-2 col-lg-2 col-md-2" for="email">Email:</label>
        <div class="col-sm-2">
            <input type="email" class="form-control" id="email" placeholder="Enter email" required="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd1">Password1:</label>
        <div class="col-sm-2">
            <input type="password" class="form-control" id="pwd1" placeholder="Enter password" required="true">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd2">Password2:</label>
        <div class="col-sm-2">
            <input type="password" class="form-control" id="pwd2" placeholder="Repeat password" required="true">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submitBtn" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>