<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Platform Demo</title>
</head>
<body>
    <script type="text/javascript">
        // Load plugin script
        (function () {
            var pluginScript = document.createElement("script"),
                    scriptContainer = document.getElementsByTagName("head")[0];

            pluginScript.src = "/js/plugin.js";
            pluginScript.async = true;
            pluginScript.id = id;
            scriptContainer.appendChild(pluginScript);
        }());

        // OnPluginLoad function that will be called when plugin script is ready
        window.onPluginLoad = function(){
            // Load list of components
            Plugin.load({
                components : {
                    clock : {
                        targetSelector : "#clock"
                    },
                    openAccount : {
                        targetSelector : "#openAccount"
                    }
                }
            });
        };
    </script>

    <div id="clock"></div>
    <div id="openAccount"></div>
</body>
</html>